@charset "UTF-8";
.contentbox{
	background: #EDEDED;
}
.smallGroupBox {
	display: flex;
	padding: 20px 20px 0 20px;
}

.bigGroupBox {
	margin: 20px;
}
/*센터 사진 슬라이드 */
.slidelist, .slideitem {
	list-style: none;
}

.slidebox img {
	width: 700px;
	height: 350px;
	max-width: 100%;
	border-radius: 20px;
}

.slideitem div {
	width: 700px;
	height: 350px;
	max-width: 100%;
}

[name="slide"] {
	display: none;
}

.slidebox {
	max-width: 700px;
	width: 100%;
	/* margin: 0 auto; */
}

.slidebox .slidelist {
	white-space: nowrap;
	font-size: 0;
	overflow: hidden;
}

.slidebox .slideitem {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	transition: all .35s;
}

.slidebox .slideitem label {
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	padding: 20px;
	border-radius: 50%;
	cursor: pointer;
}

label.left {
	left: 20px;
	background-color: #5f5f5f;
	background-image: url("../images/left-arrow.png");
	background-position: center center;
	background-size: 50%;
	background-repeat: no-repeat;
}

label.right {
	right: 20px;
	background-color: #5f5f5f;
	background-image: url("../images/right-arrow.png");
	background-position: center center;
	background-size: 50%;
	background-repeat: no-repeat;
}

[id="slide1"]:checked ~ .slidelist .slideitem {
	transform: translateX(0);
	animation: slide1 10s infinite;
}

[id="slide2"]:checked ~ .slidelist .slideitem {
	transform: translateX(-100%);
	animation: slide1 10s infinite;
}

[id="slide3"]:checked ~ .slidelist .slideitem {
	transform: translateX(-200%);
	animation: slide1 10s infinite;
}

[id="slide4"]:checked ~ .slidelist .slideitem {
	transform: translateX(-300%);
	animation: slide1 10s infinite;
}

@keyframes slide1{
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:-300%;}
	98% {left:-300%;}
	100% {left:0%;}
}
@keyframes slide2{
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}

@keyframes slide3{
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}
@keyframes slide4{
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}
/*공지사항*/
.announcement {
	width: 571px;
	margin-left: 85px;
	padding-top: 19px;
	background: #fff;
    border-radius: 20px;
}

.announcement h2 {
	padding-bottom: 20px;
	padding-left: 28px;
}

.announcementList {
	padding-top: 10px;
	margin-left: 53px;
}

.announcementList li {
	font-size: 20px;
	padding-top: 20px;
}
.line {
	border-bottom: 1.5px solid #ccc;
	width: 530px;
	margin: 0 auto;
}
/* 헌혈의 집 소개*/
.introduce {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	margin-top: 60px;
	padding: 0 20px 0 20px;
}
.linkBox {
    background: #fff;
    border-radius: 20px;
}
.introduceTitle p {
	text-align: left;
	font-size: 23px;
	/* padding: 20px 0px 20px 8px; */
}

.introduceTitle img {
	width: 28px;
}
.introduceImg img{
	border-radius: 20px 20px 0 0;
	width: 400px;
}
.introduceImg{
	 width: 400px;
}  
.introduceTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 15px 15px 18px;
}