@charset "UTF-8";
.smallGroupBox {
	display: flex;
	padding: 20px 20px 0 20px;
}

.bigGroupBox {
	margin: 20px;
}


/*센터 사진 슬라이드 */
.slidelist, .slideitem {
	list-style: none;
}

.slidebox img {
	width: 700px;
	height: 350px;
	border-radius: 20px;
}
.carousel{
width: 700px;
}
/* .slideitem div {
	width: 700px;
	height: 350px;
	max-width: 100%;
}
.slidebox {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

.slidebox .slidelist {
	white-space: nowrap;
	font-size: 0;
	overflow: hidden;
}

.slidebox .slideitem {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	transition: all .35s;
} */

/*공지사항*/
.announcement {
	width: 571px;
	margin-left: 85px;
	padding-top: 19px;
	background: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #ededed;
    height: 350px;
}

.announcement h2 {
	margin-bottom: 0;
	padding-left: 28px;
	float: left;
    margin-right: 372px;
    font-weight: 700;  
}

.announcementList {
	margin-left: 53px;
}

.announcementList li {
	font-size: 20px;
	padding-top: 15px;
}
.line {
	border-bottom: 1.5px solid #ccc;
	width: 530px;
	margin: 25px auto;
}
/* 헌혈의 집 소개*/
.introduce {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	margin-top: 60px;
	padding: 0 20px 0 20px;
}
.linkBox {
    background: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #ededed;
}
.introduceTitle p {
	text-align: left;
	font-size: 23px;
	/* padding: 20px 0px 20px 8px; */
}

.introduceTitle img {
	width: 28px;
}
.introduceImg img{
	border-radius: 20px 20px 0 0;
	width: 400px;
}
.introduceImg{
	 width: 400px;
}  
.introduceTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 15px 15px 18px;
}
.announcementTitle{
	display: flex;
	align-items: center;
}
.announcementTitle a{
    color: black;
    text-decoration-line: none;
    font-weight: 800;
}