@charset "EUC-KR";

.totalbox {
	display: flex;
	height: 640px;
}

.contentbox {
	display: flex;
	width: 1294.2px;
	flex-direction: column;
	margin-left : 224px;
	height: 640px;
	max-height: 640px;
	display: inline-block;
	background-color: #fff;
}
