@charset "UTF-8";

a {
	color: red;
}

body {
	background-color: #EDEDED;
}

#logindiv {
	background-color: white;
	width: fit-content;
	margin: auto;
	padding: 100px;
	border-radius: 3%;
	margin-top: 181px;
}

img {
	background-color: #E26868;
	width: 50px;
	padding: 5px;
	
}

.rightinput{
	padding-left: 10px;
}

table {
	border-collapse: collapse;
}

#bordertr {
	border: solid 1px grey;
}

td {
	padding: 0;
	height: 50px;
}

td > * {
	height: 50px;
	border: none;
	vertical-align: middle;
	box-sizing: border-box;
}

#loginbtn {
	background-color: #E26868;
	border: #E26868;
	width: 100%;
}

.righttd {
	text-align-last: right;
}

#blanktr {
	height: 10px;
}