@charset "UTF-8";

#statitems {
	margin-left: 30px;
	margin-top: 30px;
}

button {
	background-color: #FF8787;
	border: none;
	width: 100px;
	color: white;
	border-radius: 10px 10px 0px 0px;
	margin-right: 1px;
	font-size: 1em;
}

button:hover {
	background-color: #E26868;
}

button.menubtn.clicked {
	background-color: #E26868;
}

#buttonsdiv{
	display: flex;
	height: 45px;
	margin-left: 0;
	margin-top: 30px;
}

#searchlistdiv{
	width: 300px;
	padding-left: 80px;
}

#graphdiv {
	text-align: center;
	margin: 25px 0px;
}

#graphdiv img {
	margin-top: 100px;
	width: 600px;
}

#graphtitle {
	margin-bottom: 50px;
	display: none;
}

#graphdiv p {
	display: contents;
}

#graphdiv #itemname {
	color: #E26868;
}

#statisticcontentdiv {
	display: flex;
	border: 1px solid;
	height: 600px;
	width: 99%;
	padding-top: 50px;
	justify-content: space-between;
}

.table{
	width: 200px;
}

.table tr {
	border: none;
	height: 100%;
	width: 196px;
}

.table tr:hover{
	background-color: #EEEEEE;
}

.table td.selected{
	color: #FF8787;
}

.table td{
	border-width: 0px 0px 2px 0px;
	padding: 6px;
	width: 206px;
}

.tablediv {
	overflow-y: scroll;
	height: 450px;
	width: 220px;
}

#rightdiv{
	display: flex;
	margin-right: 100px;
}

#infodiv {
	margin-left: 180px;	
    display: inline-grid;
}

#infodiv div {
	box-shadow: 5px 5px 5px #FF8787;
	text-align: center;
	margin-bottom: 30px;
	
}
#infodiv p {
	height: 45px;
    padding: 0px 7px;
    margin: 25px 0px;
}

.title-p{
	font-size: 23px;
}

.colored-p{
	font-size: 10px; 
	color: #E26868;
}

#container{
	width: 500px;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 360px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}