@charset "UTF-8";

#statitems {
	margin-left: 30px;
	margin-top: 30px;
}

button {
	background-color: #EDEDED;
	border: none;
	width: 100px;
	border-radius: 4px 4px 0px 0px;
	margin-right: 1px;
	font-size: 1em;
}
button.menubtn.clicked {
    background: #fff;
    border-top: 5px solid #E26868;
	z-index: 2;
    position: relative;
    margin-bottom: -1px;
    font-weight: 700;
}

#buttonsdiv{
	display: flex;
	height: 45px;
	margin-left: 0;
	margin-top: 30px;
}

#searchlistdiv{
	width: 1420px;
	padding: 55px 70px;
	display: flex;
	justify-content: space-between;
}

#graphdiv {
	text-align: center;
}

#graphdiv img {
	margin-top: 100px;
	width: 600px;
}

#graphtitle {
	margin-bottom: 50px;
	display: none;
}

#graphdiv p {
	display: contents;
}

#graphdiv #itemname {
	color: #E26868;
	font-weight: 600;
}

#statisticcontentdiv {
	height: 600px;
	width: 99%;
	padding-top: 50px;
	justify-content: space-between;
	z-index: 1;
    position: relative;
    border-top: 1px solid #ccc;
}
.table{
	border: 0;
}
.table tr {
	border: none;
	height: 100%;
	width: 227px;
}

.table tr:hover{
	background-color: #EEEEEE;
}

.table td.selected{
	color: #FF8787;
}

.table td{
	border-width: 0px 0px 2px 0px;
	padding: 6px;
	width: 223px;
}

.tablediv {
	overflow-y: scroll;
	height: 393px;
	width: 244px;
	margin-top: 20px;
}

#infodiv {
    display: flex;
    padding: 0 70px;
    height: 104px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

#infodiv div {
	width: 324px;
    border-left: 4px solid #FF8787;
    box-shadow: 10px 10px 5px #ededed;
    height: 90px;
}
#infodiv p {
	height: 40px;
	margin-top: 5px;
    text-align: left;
    padding-left: 24px;
	margin: 0;
}

.title-p{
	font-size: 21px;
	padding-top: 7px;
}

.colored-p{
	font-size: 25px; 
	color: #E26868;
	font-weight: 600;
}

#container{
	width: 950px;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 360px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.search-box{
	width: 244px;
    margin: 0;
}
.search-btn{
	text-align: center;
    display: grid;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.line{
	border-top: 1px solid #ccc;
    width: 1318px;
    margin: auto;
}
