@charset "UTF-8";
.codediv{
    border-top: 1px solid #ccc;
    padding-top: 25px;
}
.textStyle {
    font-size: 23px;
    font-weight: 600;
    margin: 0;
}
.textStyle, .titleLine{
    margin-left: 10px;
}
.codeTotalDiv{
	width: 600px;
}
.codenamediv{
    margin-left: 67px;
}
#wrapcodediv {
	margin-left: 30px;
	width: -webkit-fill-available;
	padding: 60px 0px;
}

#twocodedivs {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	padding: 0 49px;
}

/* #twocodedivs div {
	width: 500px;
} */
.codeLine{
	width: 0;
    border-right: 1px solid #ccc;
}
.codetable {
	min-width: 100%;
	margin-top: 20px;
	text-align: center;
	border: none;
	border-collapse: collapse;
}
.codetable tr {
	height: 40px;
	border-bottom: 1px solid #D8D9CF;
}

.codetable tbody tr:hover {
	background: #EDEDED;
}

#detailcontentth {
	width: 277px;
}

.inputDiv div {
	display: flex;
	align-items: center;
}

.codedetailtopdiv {
	margin-bottom: 10px;
}

.buttonsdiv {
	display: flex;
    justify-content: flex-end;
    margin: 15px 0px;
}

.occupieddiv {
	margin: 20px 0px;
}

input {
	width: 100px;
}

input, select {
	margin: 0px 25px;
}

h1 {
	margin: auto;
	width: 1100px;
	margin-bottom: 50px;
}

button {
	margin-right: 10px;
	color: white;
	background: #FF8787;
	border: none;
	width: 55px;
	height: 30px;
}

button:hover {
	background: #E26868;
}

.verticalhr {
	margin: -6px;
}

.pinkButton {
	padding: 0px;
	font-size: 0.95em;
}
.selectedtr {
	background: #EDEDED;
}
.groupOccupied, .detailOccupied{
    height: 28px;
}
.titleLine{
	border-bottom: 3.5px solid #FF8787;
    width: 89px;
    margin-bottom: 22px;
}
.widthLine{
	height: 0;
	border-top: 1px solid #ccc;
}
.inputDiv{
	margin-left: 26px;
}
#code-notice {
    font-size: 14px;
    text-align: end;
    font-style: board;
    font-family: "Open Sans", sans-serif;
    font-size: -22.5rem;
    margin-top: 1rem;
}
#invalid-centerName{
	display: flex;
}
.danger_p{
	color: #E26868;
	display: contents;
	font-size: 13px;
}
.danger_img{
    width: 22px;
    height: 22px;
}
.alretdiv {
	flex-direction: column;
	width:37%
}
.alretDiv{
	flex-direction: column;
}
}