@charset "UTF-8";
.year_and_quarter{
    display: inline-block;
    float: right;

   
}
.year_and_quarter > form{
display: inline-block;
    size:5px;
}

/*수정 점수등록 버튼*/
#btnclick {
	display: flex;
    justify-content: space-between;	
}

#btn_group {
	display: flex;
}

#score-update-button {
	margin-right: 6px;
}
/*점수 리스트 테이블*/
.scoretable {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
 .th{
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
  }
  .td{
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
  
  }






/*scoreupload*/

.uploadbutton{
	display: flex;
	justify-content: space-between;
    align-items: center;
    margin: 15px 10px;
} 

.scoretable {
	margin-top: 5px;
}
table.scoretable {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;

}
table.scoretable thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.scoretable tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #EDEDED;
}
table.scoretable td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.greyButton, .pinkButton{
	height: 35px;
	font-size: 15px;
	padding: 6px 10px;
}


.clikedBtn {
	background-color: #EDEDED;
	border: 2px solid #EDEDED;
	color: #fff;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	font-size: 18px;
	padding: 6px 25px;
	text-decoration: none;
	font-weight: 550;
	text-decoration: none !important;
}

 /* 마우스 올렸을때 파란색 변하지 않도록, 하단 줄 뜨지않도록 조정 */
 .clikedBtn:hover{
text-decoration:none!important ;
color: #fff;

 }

/* click했을때 변할 버튼, 글자색 지정 
 ** js필요
 ** 
 */
 .clicked  {
	background-color: #E26868;
	border: 2px solid #E26868;
	color: #fff;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	font-size: 18px;
	padding: 6px 25px;
	text-decoration: none;
	font-weight: 550; 
	
} 

.clicked:hover {
	text-decoration: none !important;
	background-color: #fff;
	color: #E26868;
	border: 2px solid #E26868;
}

a[tabindex]:focus {
    color:blue;
    outline: none;
} 

button {
	background-color: #EDEDED;
	border: none;
	width: 100px;
	border-radius: 4px 4px 0px 0px;
	margin-right: 1px;
	font-size: 1em;
}
button.menubtn.clicked {
    background: #fff;
    border-top: 5px solid #E26868;
	z-index: 2;
    position: relative;
    margin-bottom: -1px;
    font-weight: 700;
}
/* .no-center{
 	color: #FF8787;
	font-size: larger;
	border: none;
	padding: 4%;
	margin-left: 41%;
} */
.no-center{
    display: flex;
    align-items: center;
    margin-left: 40%;
    margin-top: 3%;
}
.no-center1{
	margin: 0;
 	font-size: large;
}
.widthLine{
    margin-top: 3%;
    border-top: 1px solid #ccc;
}
.danger_img{
    width: 20px;
    height: 20px;
	
}
.danger_p{
    font-size: 14px;
    display: contents;
}
#invalid-insertscore {
	margin-top: -1%;
	margin-left: 70%;
}