@charset "UTF-8";
.year_and_quarter{
    display: inline-block;
    float: right;

   
}
.year_and_quarter > form{
display: inline-block;
    size:5px;
}

/*수정 점수등록 버튼*/
#btnclick {
	float: right;
	
}

/*점수 리스트 테이블*/
.scoretable {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
 .th{
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
  }
  .td{
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
  
  }






/*scoreupload*/

.uploadbutton{
	display: flex;
	justify-content: space-between;
    align-items: center;
    margin: 15px 10px;
} 

.scoretable {
	margin-top: 5px;
}
table.scoretable {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;

}
table.scoretable thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
table.scoretable tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #EDEDED;
}
table.scoretable td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.greyButton, .pinkButton{
	height: 35px;
	font-size: 15px;
	padding: 6px 10px;
}




.clikedBtn{
	background-color: #E26868;
	border: 2px solid #E26868;
	color: #fff;
	border-radius: 4px;
   display: inline-block;
   cursor: pointer;
   font-size: 18px;
   padding: 6px 25px;
   text-decoration: none;
   font-weight: 550;
 }

 /* 마우스 올렸을때 파란색 변하지 않도록, 하단 줄 뜨지않도록 조정 */
 .clikedBtn:hover{
text-decoration:none!important ;
color: #fff;

 }

/* click했을때 변할 버튼, 글자색 지정 
 ** js필요
 ** 
 */
 .clicked {
	background-color:#fff;
	border: 2px solid #E26868;
	color:#E26868;
	border-radius: 4px;
   display: inline-block;
   cursor: pointer;
   font-size: 18px;
   padding: 6px 25px;
   text-decoration: none;
   font-weight: 550;

	
} 
 a[tabindex]:focus {
    color:blue;
    outline: none;
} 