@charset "UTF-8";

@font-face {
   font-family: 'NanumSquareRound';
   src:
      url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
      format('woff');
   font-style: normal;
}

*{
   font-family: NanumSquareRound;
}
table{
   user-select: none;
}
.header {
   display: flex;
   align-items: center;
   background: #fff;
   justify-content: space-between;
   height: 75px;
   position: sticky;
   top: 0px;
   border-bottom: 1px solid #ccc;
   z-index: 22;
}

.header>a {
   margin-left: 12px;
}

.middlebox {
   display: flex;
   height: 880px;
}

.leftbox {
   max-height: 1000px;
   width: 220px;
   border-right: 1px solid #ccc;
   background: #fff;
   flex-shrink: 0;
   z-index: 0;
   height: 960px;
}

.contentbox {
   width: 1486.33px;
   flex-grow: 1;
   flex-direction: column;
   padding: 20px;
   max-width: 1486.33px;
}
/* 제목 디자인 */
.titleBox {
   display: flex;
   align-items: center;
   border-bottom: 1px solid #ccc;
   padding-bottom: 10px;
}

.titleBox>img {
   height: 40px;
   margin: 0px 15px
}

.titleBox>h2 {
   font-size: 32px;
   margin: 0;
}
/* 표 디자인 */
.verticalTable, .rowTable {
   font-size: 17px;
   width: 100%;
   border-top: 1.5px solid #CCC;
   border-bottom: 1.5px solid #ccc;
   border-collapse: collapse;
}

.verticalTable th, td, .rowTable th, td {
   padding: 10px;
   text-align: center;
}
.rowTable th {
   background: #EDEDED;
}

.verticalTable tbody tr, .rowTable tr {
   border-top: 1.5px solid #CCC;
   text-align: center;
}

/* 검색 */
/* placeholder 브라우저 별로 색상 조정 */
.search_insert{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 15px 0 15px;
}
.search-txt:-ms-input-placeholder{
   color: #65737e;
}
.search-form{
   display: flex;
   align-items: center;
}
.search-txt{
   font-size: 16px;
   width: 200spx;
   padding: 10px;
   border: 0px;
   outline: none;
   float: left;
   border-radius: 10px;
}
.search-box{
   height: 47px;
   border: 1px solid #E26868;
   background: #ffffff;
   margin: 20px 0 20px 10px;
   border-radius: 4px;
   display: flex;
   align-items: center;
}
.search-select{
    border: 0px;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #E26868;
    height: 47px;
}
.search-btn{
   width: 50px;
   height: 47px;
   border: 0px;
   background: #E26868;
   outline: none;
   float: right;
   color: #ffffff;
   border-radius: 0 4px 4px 0;
}


/*버튼 */
.pinkButton, .greyButton {
   border-radius: 4px;
   display: inline-block;
   cursor: pointer;
   font-size: 18px;
   padding: 6px 25px;
   text-decoration: none;
   font-weight: 550;
}

.pinkButton:active, .greyButton:active {
   position: relative;
   top: 1px;
}

.pinkButton {
   background-color: #E26868;
   border: 2px solid #E26868;
   color: #fff;
}

.pinkButton:hover {
   background-color: #fff;
   color: #E26868;
   border: 2px solid #E26868;
}

.greyButton {
   background-color: #C0C0C0;
   border: 2px solid #C0C0C0;
   color: #fff;
}

.greyButton:hover {
   background-color: #fff;
   color: #C0C0C0;
   border: 2px solid #C0C0C0;
}
.modal-greyBtn, .modal-pinkBtn{
   height: 38px;
}

.centerSize {
   width: 60px;
   background-color: #FF8787;
   border: 1px solid #FF8787;
   color: #fff;
   border-radius: 9px;
   display: inline-block;
   cursor: pointer;
   font-family: Arial;
   font-size: 15px;
   text-decoration: none;
   font-weight: 550;

}

.centerSize:active, .greyButton:active {
   position: relative;
   top: 1px;
}

.centerSize:hover {
   background-color: #E26868;
   color: #fff;
   border: 1px solid #E26868;
}


/* 페이지네이션 */
.center-pagging {
   text-align: center;
}

.pagination {
   list-style: none;
   display: inline-block;
   padding: 0;
   margin-top: 20px;
   font-size: 20px;
}

.pagination li {
   display: inline;
   text-align: center;
}

.pagination a {

   float: left;
   display: block;
   text-decoration: none;
   padding: 5px 12px;
   color: #96a0ad;
   line-height: 1.5;

}

.first:hover, .last:hover, .left:hover, .right:hover{
   color: #E26868;
   text-decoration-line: none;
}

.pagination a.active {
   cursor: default;
}

.pagination a:active {
   outline: none;
}

.pageModal .num {
   margin-left: 3px;
   padding: 0;
   width: 30px;
   height: 30px;
   line-height: 30px;
}

/* 기억 */
.num:hover {
   -moz-border-radius: 100%;
   -wekit-border-radius: 100%;
   border-radius: 100%;
   background-color: #E26868;
   color: #fff;

}

.pageModal .num.active, .pageModal .num:active {
   cursor: pointer;
}

.arrow .left {

   width: 0;
   height: 0;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   border-right: 10px solid blue;
}

.pageModal {
   display: flex;
   align-items: center;
   justify-content: center;

}
/*리스트 마우스 오버시 색 변화*/
.changeColor{
   background-color: #EDEDED;
}

.updateBtn img{
   width: 30%;
}