@charset "UTF-8";

body {
	margin: 0px;
}

#userName{
	display: flex;
}
.aTag{
	text-decoration: none !important;
}
#userName p{
	font-weight: 700;
}
.updateA{
	color: black !important;
}
.logoImage {
	height: 75px;
	width: 228px;
}

.sidebox {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	margin-right: 30px;
	list-style: none;
}

.sidebox>li {
	height: 100%;
	list-style: none;
}

.bar {
	top: -1px;
	padding: 0;
	font-size: 16px;
	position: relative;
	margin: 0 9px 0 9px;
	color: #bbb;
}

.mypage>img {
	height: 20px;
	margin-right: 4px;
}
.pwUpdate{
	z-index: 1100;
}



.container{
    height: 100vh;
}
.dropdown-toggle{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color:black;
    border: 0;
}
.dropdown-toggle:focus{
    box-shadow: none !important;
}
.dropdown-toggle span{
	 font-weight: 600;
}   

.dropdown-toggle::after {

    display: none;

}

.dropdown-menu{
    width: 200px;
    background: #E26868;
    padding: 0rem 0;
    transform: translate3d(0px, 50px, 0px) !important;
    border: none;

}
.dropdown-menu a{
	color: #fff;
	transition: all 0.4s ease-out;
}
.dropdown-menu a:hover {
	background-color: #EDEDED;
    color: #333;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    background-color: #E26868;
    padding: 12px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 12px;
}