@charset "UTF-8";

.contentBox {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1200px;
	margin-top: 40px;
	padding-bottom: 700px;
	height: auto;
	min-height: 100%;
}