<<<<<<< HEAD
@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareRound';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
		format('woff');
	font-style: normal;
}

*{
   font-family: NanumSquareRound;
}
.header {
   display: flex;
   align-items: center;
   background: #fff;
   justify-content: space-between;
   height: 75px;
   position: sticky;
   top: 0px;
   border-bottom: 1px solid #ccc;
   z-index: 22;
}

.header>a {
   margin-left: 12px;
}

.middlebox {
   display: flex;
   height: 880px;
}

.leftbox {
   max-height: 1000px;
   width: 220px;
   border-right: 1px solid #ccc;
   background: #fff;
   flex-shrink: 0;
   z-index: 0;
   height: 960px;
}

.contentbox {
   width: 1486.33px;
   flex-grow: 1;
   flex-direction: column;
   padding: 20px;
   max-width: 1486.33px;
}
/* 제목 디자인 */
.titleBox {
   display: flex;
   align-items: center;
   border-bottom: 1px solid #ccc;
   padding-bottom: 10px;
}

.titleBox>img {
   height: 40px;
   margin: 0px 15px
}

.titleBox>h2 {
   font-size: 32px;
}
/* 표 디자인 */
.verticalTable, .rowTable {
   font-size: 17px;
   width: 100%;
   border-top: 1.5px solid #CCC;
   border-bottom: 1.5px solid #ccc;
   border-collapse: collapse;
}

.verticalTable th, td, .rowTable th, td {
   padding: 10px;
}

.verticalTable thead, .rowTable th {
   background: #EDEDED;
}

.verticalTable tbody tr, .rowTable tr {
   border-top: 1.5px solid #CCC;
   text-align: center;
}
/* 검색 */
.search-box {

	top: 50%;
	left: 50%;
	height: 40px;
	background-color: #fff;
	border: 2px solid #E26868;
	border-radius: 7px;
	width: 282px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0 20px 5px;

}

.search-btn {
   text-decoration: none;
   float: right;
   width: 40px;
   height: 40px;
   background-color: #E26868;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
}

.search-txt {
   display: flex;
   width: 200px;
   padding-left: 15px;
   border: none;
   background: none;
   outline: none;
   font-size: 1rem;
   line-height: 30px;
   height: 40px;
}
/*버튼 */
.pinkButton, .greyButton {
   border-radius: 9px;
   display: inline-block;
   cursor: pointer;
   font-family: Arial;
   font-size: 18px;
   padding: 6px 25px;
   text-decoration: none;
   font-weight: 550;
}

.pinkButton:active, .greyButton:active {
   position: relative;
   top: 1px;
}

.pinkButton {
   background-color: #FF8787;
   border: 1px solid #FF8787;
   color: #fff;
}

.pinkButton:hover {
   background-color: #E26868;
   color: #fff;
   border: 1px solid #E26868;
}

.greyButton {
   background-color: #ededed;
   border: 1px solid #ededed;
   color: #000000;
}

.greyButton:hover {
   background-color: #bebebe;
   color: #000000;
   border: 1px solid #bebebe;
}

.header {
	display: flex;
	align-items: center;
	background: #fff;
	justify-content: space-between;
	height: 75px;
	position: sticky;
	top: 0px;
	border-bottom: 1px solid #ccc;
	z-index: 22;
}

.header>a {
	margin-left: 12px;
}

.middlebox {
	display: flex;
	height: 880px;
}

.leftbox {
	max-height: 1000px;
	width: 220px;
	border-right: 1px solid #ccc;
	background: #fff;
	flex-shrink: 0;
	z-index: 0;
	height: 960px;
}

.contentbox {
	width: 1486.33px;
	flex-grow: 1;
	flex-direction: column;
	padding: 20px;
	max-width: 1486.33px;
}
/* 제목 디자인 */
.titleBox {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.titleBox>img {
	height: 40px;
	margin: 0px 15px
}

.titleBox>h2 {
	font-size: 32px;
}
/* 표 디자인 */
.verticalTable, .rowTable {
	font-size: 17px;
	width: 100%;
	border-top: 1.5px solid #CCC;
	border-bottom: 1.5px solid #ccc;
	border-collapse: collapse;
	text-align: center;
}

.verticalTable th, td, .rowTable th, td {
	padding: 10px;
}

.verticalTable thead, .rowTable th {
	background: #EDEDED;
}

.verticalTable tbody tr, .rowTable tr {
	border-top: 1.5px solid #CCC;
	text-align: center;
}
/* 검색 */
.search-box {
	top: 50%;
	left: 50%;
	height: 40px;
	background-color: #fff;
	border: 2px solid #E26868;
	border-radius: 7px;
	width: 282px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0 20px 5px;
}

.search-btn {
	text-decoration: none;
	float: right;
	width: 40px;
	height: 40px;
	background-color: #E26868;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.search-txt {
	display: flex;
	width: 200px;
	padding-left: 15px;
	border: none;
	background: none;
	outline: none;
	font-size: 1rem;
	line-height: 30px;
	height: 40px;
}
/*버튼 */
.pinkButton, .greyButton {
	border-radius: 9px;
	display: inline-block;
	cursor: pointer;
	font-family: Arial;
	font-size: 18px;
	padding: 6px 25px;
	text-decoration: none;
	font-weight: 550;
}

.pinkButton:active, .greyButton:active {
	position: relative;
	top: 1px;
}


.centerSize {
	width: 60px;
	background-color: #FF8787;
	border: 1px solid #FF8787;
	color: #fff;
	border-radius: 9px;
	display: inline-block;
	cursor: pointer;
	font-family: Arial;
	font-size: 15px;
	text-decoration: none;
	font-weight: 550;

}

.centerSize:active, .greyButton:active {
	position: relative;
	top: 1px;
}

.centerSize:hover {
	background-color: #E26868;
	color: #fff;
	border: 1px solid #E26868;
}

.pinkButton {
	background-color: #FF8787;
	border: 1px solid #FF8787;
	color: #fff;
}

.pinkButton:hover {
	background-color: #E26868;
	color: #fff;
	border: 1px solid #E26868;
}

.greyButton {
	background-color: #ededed;
	border: 1px solid #ededed;
	color: #000000;
}

.greyButton:hover {
	background-color: #bebebe;
	color: #000000;
	border: 1px solid #bebebe;
}

/* 페이지네이션 */
.center-pagging {
	text-align: center;
}

.pagination {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-top: 20px;
	font-size: 20px;
}

.pagination li {
	display: inline;
	text-align: center;
}

.pagination a {

	float: left;
	display: block;
	text-decoration: none;
	padding: 5px 12px;
	color: #96a0ad;
	line-height: 1.5;

}

.first:hover, .last:hover, .left:hover, .right:hover {
	color: #E26868;
	text-decoration-line: none;
}

.pagination a.active {
	cursor: default;
}

.pagination a:active {
	outline: none;
}

.pageModal .num {
	margin-left: 3px;
	padding: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
}


.num:hover {
	-moz-border-radius: 100%;
	-wekit-border-radius: 100%;
	border-radius: 100%;
	background-color: #E26868;
	color: #fff;

}

.pageModal .num.active, .pageModal .num:active {
	cursor: pointer;
}

.arrow .left {

	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid blue;
}

.pageModal {
	display: flex;
	align-items: center;
	justify-content: center;

}
=======
@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareRound';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
		format('woff');
	font-style: normal;
}

* {
	font-family: NanumSquareRound;
}

.header {
	display: flex;
	align-items: center;
	background: #fff;
	justify-content: space-between;
	height: 75px;
	position: sticky;
	top: 0px;
	border-bottom: 1px solid #ccc;
	z-index: 22;
}

.header>a {
	margin-left: 12px;
}

.middlebox {
	display: flex;
	height: 880px;
}

.leftbox {
	max-height: 1000px;
	width: 220px;
	border-right: 1px solid #ccc;
	background: #fff;
	flex-shrink: 0;
	z-index: 0;
	height: 960px;
}

.contentbox {
	width: 1486.33px;
	flex-grow: 1;
	flex-direction: column;
	padding: 20px;
	max-width: 1486.33px;
}
/* 제목 디자인 */
.titleBox {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.titleBox>img {
	height: 40px;
	margin: 0px 15px
}

.titleBox>h2 {
	font-size: 32px;
}
/* 표 디자인 */
.verticalTable, .rowTable {
	font-size: 17px;
	width: 100%;
	border-top: 1.5px solid #CCC;
	border-bottom: 1.5px solid #ccc;
	border-collapse: collapse;
}

.verticalTable th, td, .rowTable th, td {
	padding: 10px;
}

.verticalTable thead, .rowTable th {
	background: #EDEDED;
}

.verticalTable tbody tr, .rowTable tr {
	border-top: 1.5px solid #CCC;
	text-align: center;
}
/* 검색 */
.search-box {
	top: 50%;
	left: 50%;
	height: 40px;
	background-color: #fff;
	border: 2px solid #E26868;
	border-radius: 7px;
	width: 282px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0 20px 5px;
}

.search-btn {
	text-decoration: none;
	float: right;
	width: 40px;
	height: 40px;
	background-color: #E26868;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.search-txt {
	display: flex;
	width: 200px;
	padding-left: 15px;
	border: none;
	background: none;
	outline: none;
	font-size: 1rem;
	line-height: 30px;
	height: 40px;
}
/*버튼 */
.pinkButton, .greyButton {
	border-radius: 9px;
	display: inline-block;
	cursor: pointer;
	font-family: Arial;
	font-size: 18px;
	padding: 6px 25px;
	text-decoration: none;
	font-weight: 550;
}

.pinkButton:active, .greyButton:active {
	position: relative;
	top: 1px;
}

.pinkButton {
	background-color: #FF8787;
	border: 1px solid #FF8787;
	color: #fff;
}

.pinkButton:hover {
	background-color: #E26868;
	color: #fff;
	border: 1px solid #E26868;
}

.greyButton {
	background-color: #ededed;
	border: 1px solid #ededed;
	color: #000000;
}

.greyButton:hover {
	background-color: #bebebe;
	color: #000000;
	border: 1px solid #bebebe;
}

.header {
	display: flex;
	align-items: center;
	background: #fff;
	justify-content: space-between;
	height: 75px;
	position: sticky;
	top: 0px;
	border-bottom: 1px solid #ccc;
	z-index: 22;
}

.header>a {
	margin-left: 12px;
}

.middlebox {
	display: flex;
	height: 880px;
}

.leftbox {
	max-height: 1000px;
	width: 220px;
	border-right: 1px solid #ccc;
	background: #fff;
	flex-shrink: 0;
	z-index: 0;
	height: 960px;
}

.contentbox {
	width: 1486.33px;
	flex-grow: 1;
	flex-direction: column;
	padding: 20px;
	max-width: 1486.33px;
}
/* 제목 디자인 */
.titleBox {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.titleBox>img {
	height: 40px;
	margin: 0px 15px
}

.titleBox>h2 {
	font-size: 32px;
}
/* 표 디자인 */
.verticalTable, .rowTable {
   font-size: 17px;
   width: 100%;
   border-top: 1.5px solid #CCC;
   border-bottom: 1.5px solid #ccc;
   border-collapse: collapse;
   text-align: center;
}

.verticalTable th, td, .rowTable th, td {
	padding: 10px;
}

.verticalTable thead, .rowTable th {
	background: #EDEDED;
}

.verticalTable tbody tr, .rowTable tr {
	border-top: 1.5px solid #CCC;
	text-align: center;
}
/* 검색 */
.search-box {
	top: 50%;
	left: 50%;
	height: 40px;
	background-color: #fff;
	border: 2px solid #E26868;
	border-radius: 7px;
	width: 282px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0 20px 5px;
}

.search-btn {
	text-decoration: none;
	float: right;
	width: 40px;
	height: 40px;
	background-color: #E26868;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.search-txt {
	display: flex;
	width: 200px;
	padding-left: 15px;
	border: none;
	background: none;
	outline: none;
	font-size: 1rem;
	line-height: 30px;
	height: 40px;
}
/*버튼 */
.pinkButton, .greyButton {
	border-radius: 9px;
	display: inline-block;
	cursor: pointer;
	font-family: Arial;
	font-size: 18px;
	padding: 6px 25px;
	text-decoration: none;
	font-weight: 550;
}

.pinkButton:active, .greyButton:active {
	position: relative;
	top: 1px;
}

.centerSize {
	width: 60px;
	background-color: #FF8787;
	border: 1px solid #FF8787;
	color: #fff;
	border-radius: 9px;
	display: inline-block;
	cursor: pointer;
	font-family: Arial;
	font-size: 15px;
	text-decoration: none;
	font-weight: 550;
}

.centerSize:active, .greyButton:active {
	position: relative;
	top: 1px;
}

.centerSize:hover {
	background-color: #E26868;
	color: #fff;
	border: 1px solid #E26868;
}

.pinkButton {
	background-color: #FF8787;
	border: 1px solid #FF8787;
	color: #fff;
}

.pinkButton:hover {
	background-color: #E26868;
	color: #fff;
	border: 1px solid #E26868;
}

.greyButton {
	background-color: #ededed;
	border: 1px solid #ededed;
	color: #000000;
}

.greyButton:hover {
	background-color: #bebebe;
	color: #000000;
	border: 1px solid #bebebe;
}

/* 페이지네이션 */
.center-pagging {
	text-align: center;
}

.pagination {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-top: 20px;
	font-size: 20px;
}

.pagination li {
	display: inline;
	text-align: center;
}

.pagination a {
	float: left;
	display: block;
	text-decoration: none;
	padding: 5px 12px;
	color: #96a0ad;
	line-height: 1.5;
}

.first:hover, .last:hover, .left:hover, .right:hover {
	color: #E26868;
	text-decoration-line: none;
}

.pagination a.active {
	cursor: default;
}

.pagination a:active {
	outline: none;
}

.pageModal .num {
	margin-left: 3px;
	padding: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.num:hover {
	-moz-border-radius: 100%;
	-wekit-border-radius: 100%;
	border-radius: 100%;
	background-color: #E26868;
	color: #fff;
}

.pageModal .num.active, .pageModal .num:active {
	cursor: pointer;
}

.arrow .left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid blue;
}

.pageModal {
	display: flex;
	align-items: center;
    justify-content: center;
}



>>>>>>> branch 'master' of https://github.com/jini4u/store-management.git
