@charset "UTF-8";

body {
	margin: 0px;
}

a {
	text-decoration: none;
}

ul, li {
	list-style: none;
}
.logoImage {
	height: 75px;
	width: 228px;
}

.sidebox {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	margin-right: 30px;
}

.sidebox>li {
	height: 100%;
}

.bar {
	top: -1px;
	padding: 0;
	font-size: 16px;
	position: relative;
	margin: 0 9px 0 9px;
	color: #bbb;
}

.mypage>img {
	height: 20px;
	margin-right: 4px;
}
