
@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}
.accordion-menu {
	width: 100%;
	max-width: 350px;
	background: #FFEEEE;
	border-radius: 4px;
	list-style: none;
}

.accordion-menu li.open .dropdownlink {
	color: #E26868;
}
.accordion-menu li.open .dropdownlink .fa-chevron-down {
	transform : rotate(180deg);
}
.dropdownlink {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 45px;
	font-size: 20px;
	color: #212121;
	position: relative;
	transition: all 0.4s ease-out; 
	font-weight: 600;
	i { 
		position : absolute;
		top: 17px;
		left: 16px;
	}
}
.dropdownlink > a{
	color: #000000;
}
.dropdownlink:hover, .dropdownlink > a:hover {
	color: #E26868;
}

.fa-chevron-down {
    right: 12px;
    left: auto;
    float: right;
}
.submenuItems {
	display: none;
	background: #FFEEEE;
	list-style: none;
	li {
	border-bottom: 1px solid #B6B6B6;
	}
}

.submenuItems a {
	display: block;
	color: #716D66;
	padding: 12px 12px 12px 45px;
	font-size: 18px;
}

.submenuItems a:hover {
    font-weight: 600;
    text-decoration-line: none;
}

/* 
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.logoImage {
	height: 78px;
    width: 224px;
    margin-left: 10px;
}
.logoAtag{
	display: block;
	margin: 32px 0;
}
.userName{
    display: flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 14px;
    font-size: 20px;
	width: 230px;
    border: 0;
    font-size: 17px;
    color: #716D66;
    background: #FFEEEE;
    height: 55px;
}
.userName p{
	margin-bottom: 0;

}
.userName img{
	width: 34px;
}
.userInfo{
	position: absolute;
    bottom: 52px;
    width: 230px;
}
.dropup:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.userName:hover{
	background: #fff;
	color: #716D66;
	box-shadow: 1px 1px 20px #ddd;
}
.userName:active{
	background-color: #fff;
}
.dropdown-menu.show{
	width: 231px;
}
.dropdown-menu{
	width: 231px;
}