<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.webapp.center.dao.ICenterRepository">

<select id="insertCenterCode" resultType="int">
	SELECT NVL(MAX(center_code), 0000000) as centerCode
	FROM CENTER
</select>

<insert id="insertCenter" parameterType="com.mycompany.webapp.center.vo.CenterVO">
	INSERT INTO CENTER(
		  center_code
		, center_name
		, center_tel
		, center_address
		, center_guide
		, center_opening_date
		, center_closing_date)
	VALUES (
		  #{centerCode}
		, #{centerName}
		, #{centerTel}
		, #{centerAddress}
		, #{centerGuide}
		, #{centerOpeningDate,jdbcType=DATE}
		, #{centerClosingDate,jdbcType=DATE})
</insert>

<select id="centerList" resultType="com.mycompany.webapp.center.vo.CenterVO">
	select 
		C.center_code as "centerCode"
		, C.center_name as "centerName"
		, C.center_tel as "centerTel"
		, C.center_address as "centerAddress"
		, C.center_guide as "centerGuide"
		, C.center_opening_date as "centerOpeningDate"
		, C.center_closing_date as "centerClosingDate"
        , U.user_code as "userCode"
        , U.user_name as "userName"
	FROM center C LEFT OUTER JOIN mapping M ON C.center_code = M.center_code
                  LEFT OUTER JOIN userinfo U ON M.user_code = U.user_code
</select>


<!-- 
	맵핑가능 센터 목록 
	임유진

 <select id="getAvailableCenterList" resultType="com.mycompany.webapp.center.vo.CenterVO">
 SELECT C.center_code AS "centerCode"
 		, C.center_name AS "centerName"
 		, C.center_address AS "centerAddress"
 FROM center C LEFT OUTER JOIN mapping M ON C.center_code = M.center_code
 WHERE M.user_code IS NULL
 </select>
  -->
</mapper>