<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.webapp.common.dao.IFileRepository">
<!-- fileinfo 테이블에 정보 저장 -->
<insert id="insertFile" parameterType="com.mycompany.webapp.common.vo.FileInfoVO">
<![CDATA[
INSERT INTO fileinfo (
	file_no
	, file_saved_name
	, file_original_name
	, file_type
	, file_path
	, file_post_date 
	, file_upload_user_code
	)
VALUES (
	(SELECT NVL(MAX(file_no)+1, 1) FROM fileinfo)
	, #{fileSavedName}
	, #{originalName}
	, #{fileType}
	, #{filePath}
	, SYSDATE 
	, #{uploadUserCode}
	)
]]>
<selectKey keyProperty="fileNo" resultType="Integer" order="AFTER">
SELECT MAX(file_no) AS "fileNo" FROM fileinfo
</selectKey>
</insert>

 <!-- 
 	history 테이블에 파일업로드 정보 남김
  -->
<insert id="insertFileUploadHistory" parameterType="map">
INSERT INTO history (history_no, file_no, user_code, history_insert, history_update)
VALUES ((SELECT NVL(MAX(history_no)+1, 1) FROM history)
		, #{fileNo}
		, #{userCode}
		, #{insert}
		, #{update})
</insert>


</mapper>