<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.webapp.score.dao.IScoreRepository">
<!-- 
	전체 그룹 코드, 코드명, 사용여부 조회
	임유진
 -->
<select id="getAllGroupCodes" resultType="map">
	SELECT check_group_code
			, check_group_content
			, check_group_occupied
	FROM check_group
</select>
<!-- 
	그룹 코드에 해당하는 전체 상세 코드, 코드명, 사용여부 조회
	임유진
 -->
<select id="getDetailCodes" parameterType="String" resultType="map">
	SELECT LPAD(check_detail_code,2,0) AS check_detail_code
			, check_detail_content
			, check_detail_occupied
	FROM check_detail
	WHERE check_group_code = #{groupCode}
	</select>
<!-- 
	상세코드 수정.
	 코드는 수정 불가(PK), 코드명, 사용여부 수정 가능
	 그룹별 사용여부 수정할 수 있음
	 임유진 
-->
<update id="updateDetailCode" parameterType="map">
	UPDATE check_detail 
	SET check_detail_content = NVL(#{detailContent, jdbcType=VARCHAR}, check_detail_content)
		, check_detail_occupied = #{detailOccupied}
	WHERE check_group_code = #{groupCode} <if test="detailCode != null">AND check_detail_code = #{detailCode}</if>
</update>
<!-- 
	그룹코드 수정.
	코드는 수정 불가(PK), 코드명, 사용여부 수정 가능
	임유진
 -->
<update id="updateGroupCode" parameterType="map">
 	UPDATE check_group
 	SET check_group_content = #{groupContent}
 		, check_group_occupied = #{groupOccupied}
 	WHERE check_group_code = #{groupCode}
</update>
</mapper>