@charset "UTF-8";

#center-photo-total {
    display: flex;
    position: relative;
    flex-direction: column;
}

#photo-left-frame {
	    width: 593px;
	margin-left: 3%;
}

.photo-img {
	width: 640px;
	height: 450px;
}

.arrow {
	width: 24px;
	margin: 2%;
}

#center-photo-first {
	margin-bottom: -5%;
}

#centertable tr:hover {
	background: #EDEDED;
}
#centertable thead tr th {
	pointer-events : none;
}
.selectedtr {
	background: #EDEDED;
}

#photo-main-size {
	display: flex;
	align-items: center;
}
#center-photo-second{
	width : 100%;
}
.search {
	display: none;
	display: block;
}
.noImage-size{
	width: 637px;
	padding-top: 58px;
}
.noImage tr:first-of{
	display:left;
}
.noImageTd{
	text-align: left;
}
#centerDetail{
	width: 70px;
}
.search tbody{
	display: block;
    overflow: auto;
    /* height: 95px; */
    height: 145px;
}
.thead-centerPhoto-file{
	width: 220px;
}
.thead-allcenterPhoto-file{
	width: 122.5px;
}
#photo-mini-size {
	display: flex;
	justify-content: center;
	margin: 5%;
}

#button-frame {
	display: flex;
	margin-bottom: 2%;
	justify-content: flex-end;
	margin-top: 40px;
	margin-right: 18px;
}

#photo-right-frame {
	display: none;
	margin: 8px 70px 0 70px;
}

.paging {
	margin-left: 10%;
}
#targetCenterName{
	width: 165px;
}
#centermodal-insert th{
	font-size: 18px;
}
#selectSize{
	width: 138px;
}
.centermodal-insertphoto-info{
	width: 426px;
}
#center-search-bar input {
	margin-left: 16px;
    margin-bottom: 10px;
}
.modal-body{
	display: flex;
    justify-content: center;
}
.center-modal-mainbar {
	background-color: #E26868;
	display: flex;
    justify-content: space-between;
    height: 35px;
}

#centermodal-insert {
	margin: 10px;
	width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 24px;
}


#centermodal-photo-list {
	margin: 10px;
}

#centermodal-originalphoto-info {
	width: 100%;
}

.centermodal-close-btn {
	margin: 0;
	height: 100%;
	width: 35px;
}

.centercode {
	display: none;
}

#uploadUserCode,.hidden-file-no {
	display: none;
}

#deletecheck {
	width: 60px;
}

#button-frame button {
	margin-left: 7px;
	padding: 2px 15px;
}
.modal-show-none{
	z-index : 1100;
}

.photo-slider {
	width: 640px;
	height: 467px;
	position: relative;
	margin: 0 auto;
}

.photo-slider input[type=radio] {
	display: none;
}

ul.photo-imgs {
	padding: 0;
	margin: 0;
}

ul.photo-imgs li {
	position: absolute; /* 슬라이드가 겹쳐서 모여야 하므로 absolute 속성으로 배치 */
	opacity: 0; /* 체크한 라디오박스 순서의 슬라이드만 표시되도록 기본 투명도 설정 */
	list-style: none;
	padding: 0;
	margin: 0;
}

.photo-bullets {
	position: absolute;
	left: 50%; /* 가로로 가운데 정렬 */
	transform: translateX(-50%);
	bottom: 45px; /* 슬라이드 밑에서 20px 간격 띄움 */
	z-index: 2; /* 슬라이드 위에 보이도록 레이어 순위를 높임 */
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.photo-bullets label {
	display: inline-block; /* 한 줄로 불릿 나열*/
	border-radius: 50%; /* 원형 불릿으로 처리 */
	background-color: #fff;
	width: 20px; /* 불릿 너비 */
	height: 20px; /* 불릿 높이 */
	cursor: pointer;
}

.photo-slider input[type=radio]:nth-child(1):checked ~.photo-bullets>label:nth-child(1)
	{
	background-color: #FF8787;
}

.photo-slider input[type=radio]:nth-child(2):checked ~.photo-bullets>label:nth-child(2)
	{
	background-color: #FF8787;
}

.photo-slider input[type=radio]:nth-child(3):checked ~.photo-bullets>label:nth-child(3)
	{
	background-color: #FF8787;
}

.photo-slider input[type=radio]:nth-child(4):checked ~.photo-bullets>label:nth-child(4)
	{
	background-color: #FF8787;
}
.photo-slider input[type=radio]:nth-child(5):checked ~.photo-bullets>label:nth-child(5)
	{
	background-color: #FF8787;
}
.photo-slider input[type=radio]:nth-child(6):checked ~.photo-bullets>label:nth-child(6)
	{
	background-color: #FF8787;
}

.photo-slider input[type=radio]:nth-child(1):checked ~ul.photo-imgs>li:nth-child(1)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

.photo-slider input[type=radio]:nth-child(2):checked ~ul.photo-imgs>li:nth-child(2)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

.photo-slider input[type=radio]:nth-child(3):checked ~ul.photo-imgs>li:nth-child(3)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

.photo-slider input[type=radio]:nth-child(4):checked ~ul.photo-imgs>li:nth-child(4)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}
.photo-slider input[type=radio]:nth-child(5):checked ~ul.photo-imgs>li:nth-child(5)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}
.photo-slider input[type=radio]:nth-child(6):checked ~ul.photo-imgs>li:nth-child(6)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
} 

ul.photo-imgs li {
	position: absolute;
	opacity: 0;
	list-style: none;
	padding: 0;
	margin: 0;
	transition-delay: 0.9s; /* 트랜지션 지연 시간 지정 */
}
.noImage-bullets{
	list-style: none;
	padding: 0;
	margin: 0;
}
.noImage-boreder{
	border: solid 2px #ccc;
}
.removePadding{
	padding : 0px;
} 
#modal-image-update{
	width: 500px;
}

#tableClickEventNo{
	pointer-events: none; 
}
#modal-image-delete{
    width: 459px;
}