@charset "UTF-8";

.rowTable {
	width: 45%;
	float: left;
	margin-top: 10px;
}

.rowTable input {
	width: 400px;
}

.center-arrow {
	width: 24px;
	margin: 2%;
}

#centerphoto-main-size {
	display: flex;
	align-items: center;
}

#centerphoto-mini-size {
	display: flex;
	justify-content: center;
	padding-right: 83px;
}

.centerphoto-img {
	width: 500px;
	height: 350px;
	margin-top: 10px;
}

#center-photo-frame {
	float: right;
	width: 47%;
}

.center-button-group {
	padding-left: 470px;
}

.center {
	display: inline-flex;
}

.center-search-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1%;
}

.changeColor {
	background-color: #EDEDED;
}

.search-btn {
	margin: -14%;
}

.search-div {
	margin-right: -43%;
}

/*  .modal-dialog{  */
/*  max-width: 552px; */
/*  }   */
#centerphoto {
	display: flex;
	justify-content: space-between;
}

#centerPhotoSize {
	width: 495px;
	height: 410px;
}

.slider {
	width: 495px;
	height: 480px;
	position: relative;
	margin: 0 auto;
}

.slider input[type=radio] {
	display: none;
}

ul.imgs {
	padding: 0;
	margin: 0;
}

ul.imgs li {
	position: absolute; /* 슬라이드가 겹쳐서 모여야 하므로 absolute 속성으로 배치 */
	opacity: 0; /* 체크한 라디오박스 순서의 슬라이드만 표시되도록 기본 투명도 설정 */
	list-style: none;
	padding: 0;
	margin: 0;
}

.bullets {
	position: absolute;
	left: 50%; /* 가로로 가운데 정렬 */
	transform: translateX(-50%);
	bottom: 88px; /* 슬라이드 밑에서 20px 간격 띄움 */
	z-index: 2; /* 슬라이드 위에 보이도록 레이어 순위를 높임 */
	width: 85px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.bullets label {
	display: inline-block; /* 한 줄로 불릿 나열*/
	border-radius: 50%; /* 원형 불릿으로 처리 */
	background-color: rgba(0, 0, 0, 0.55);
	width: 20px; /* 불릿 너비 */
	height: 20px; /* 불릿 높이 */
	cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked ~.bullets>label:nth-child(1)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(2):checked ~.bullets>label:nth-child(2)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(3):checked ~.bullets>label:nth-child(3)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(4):checked ~.bullets>label:nth-child(4)
	{
	background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked ~ul.imgs>li:nth-child(1)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(2):checked ~ul.imgs>li:nth-child(2)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(3):checked ~ul.imgs>li:nth-child(3)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(4):checked ~ul.imgs>li:nth-child(4)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

ul.imgs li {
	position: absolute;
	opacity: 0;
	list-style: none;
	padding: 0;
	margin: 0;
	transition-delay: 0.9s; /* 트랜지션 지연 시간 지정 */
}

#centerForm {
	width: 570px;
	display: initial;
	margin-top: 60px;

}

.search-box {
	width: 217px;
}

.modal-footer {
	margin-top: -10px;
}

.modal-body {
	margin-top: -8px;
}

.center-label {
	margin-top: 60px;

}
.center-noimage{
    width: 495px;
    height: 380px;
}
.updateBtn{
    border: 0;
    background: none;
}
#center-left thead tr th{
	pointer-events : none;
}