@charset "UTF-8";
.rowTable th{
	width: 15%;
}
/* .search_insert{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px 0 15px;
} */
.mgrInsertBtn{
	height: 41px;
}    
.updateBtn{
    border: 0;
    background: none;
}
.updateBtn:hover{
	background: #EDEDED;
}
.updateCell{
	width: 109px;
}
#invalid-userName, #invalid-useEmail, #invalid-userTel{
	margin-top: 5px;
}
