@charset "UTF-8";
.rowTable th{
	width: 15%;
}
.search_insert{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pinkButton{
	height: 47px;
	margin-right: 10px; 
}    
.updateBtn{
    border: 0;
    background: none;
}
.updateBtn:hover{
	background: #EDEDED;
}
.updateCell{
	width: 109px;
}