@charset "UTF-8";
.rowTable th{
	width: 15%;
}
/* .search_insert{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px 0 15px;
} */
.mgrInsertBtn{
	height: 41px;
}    
.updateBtn{
    border: 0;
    background: none;
}
.updateBtn:hover{
	background: #EDEDED;
}
.updateCell{
	width: 109px;
}
#invalid-userName, #invalid-useEmail, #invalid-userTel{
	margin-top: 5px;
}
.danger_img{
	width: 20px;
}
.invalid-userEmail, #invalid-userResignDate, #invalid-userName, .invalid-userTel, .invalid-userTeamCode{
	display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 7px;
}
#centerName{
    background-color: #e9ecef;
}