@charset "UTF-8";

.noticediv{
   margin-top: 28px;
   height: 935px;
   padding-bottom: 20px;
}

.board-hidden{
   display: none;
}

#buttonsdiv {
   display: flex;
   justify-content: flex-end;
   padding-bottom: 20px;
}

/* .subheading {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 12px 20px 0px;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #E26868;
    text-underline-position: under;
} */

textarea {
        resize: none;
        height: auto;
        padding: 10px;
    }
.noticeTr:hover{
   background-color: #ededed;
}
.noticeTitle{
    width: 600px;
    text-align: left;
}
.noticeInsertDiv{
    justify-content: right;
    display: flex;
    margin-top: 19px;
    padding-right: 11px;
}
.noticeTitle a{
    color: black;
}
#title{
    background-color: #fff;
} 
.mb-3 label{
    font-size: 20px;
    font-weight: 600;
}

/* 공지사항 등록 */
.insertForm{
    height: 653px;
}
.insertContent{
    height: 67%;
}
.insertContent textarea{
	height: 95%;
}
.insertBtn{
	text-align: right;
	margin-top: 10px;
}